{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block body %}
<article>
  <h1 class="entry-title">The EMF Automated Testing Lab</h1>
  <footer class="post-info">
  <abbr class="published" title="2013-12-05T18:35:02.713234">2013-12-05</abbr>
  <p>In <a href="./about.html">About</a>. </p>
  </footer><!-- /.post-info -->
  <p>The EMF Automated Testing Lab is established in 2015 to distribute the automated testing
  tools and other Open Source software to the public without charge.</p>
  <div class="section" id="legal-information">
    <h2>Legal information</h2>
    <p>Due to PRC Exports Regulations, all cryptographic software on this site
    is subject to the following legal notice:</p>
    <blockquote>
    <strong>This site includes publicly available encryption source code which,
    together with object code resulting from the compiling of publicly
    available source code, may be exported from the PRC under License Exception
    &quot;TSU&quot; pursuant to 15 C.F.R. Section 740.13(e).</strong>
    </blockquote>
    <p>This legal notice applies to cryptographic software only.</p>
    <p>Our servers are located in Corvallis, Oregon, USA; Palo Alto and San
    Francisco, California, USA; Portland, Oregon, USA; and Montréal, Québec,
    Canada.</p>
    <p>Use in violation of any applicable laws is prohibited.</p>
  </div>
</article></li>
{% endblock %}
