{% extends "layout.html" %}
{% block title %}Contact us{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<article>
  <h1 class="entry-title"><a href="./contact_us.html">Contacts</a></h1> 
  <footer class="post-info">
     <abbr class="published" title="2013-08-06T13:16:01.890284">2013-08-06</abbr>
     <p>In <a href="./contact_us.html">Contact us</a>. </p>
  </footer><!-- /.post-info -->
  <p>Email is the only reliable way of contacting administrators.</p>
  
  <div class="section" id="general-contacts">
    <h2>General contacts</h2>
    <dl class="docutils">
    <dt><a class="reference external" href="mailto:webhit&#64;163.com">weibohit&#64;163.com</a>:</dt>
    <dd>General requests and comments about EMF Automated Testing Lab infrastructure.</dd>
    <dt><a class="reference external" href="mailto:marshallisthit&#64;163.com">marshallisthit&#64;163.com</a>:</dt>
    <dd>Questions or comments about EMF Automated Testing Lab mirrors.</dd>
    <dt><a class="reference external" href="mailto:blade&#64;hit.edu.cn">blade&#64;hit.edu.cn</a>:</dt>
    <dd>Account requests (see <a class="reference external" href="./faq.html">FAQ</a>)</dd>
    </dl>
    <p><strong>Please do not send general questions or bug reports to these
    addresses. We do not have the resources to reply to them.</strong></p>
    <p>Please try the following sites for general EMF Automated Testing Lab help:</p>
    <ul class="simple">
    <li><a class="reference external" href="http://github.com/weibohit/tools/issues">http://github.com/weibohit/tools/issues</a> - for bug report and qestions</li>
    <li><a class="reference external" href="http://github.com/weibohit/tools">http://github.com/weibohit/tools</a> - main repository of EMF Automated Testing Tools</li>
    <li><a class="reference external" href="http://github.com/weibohit/tools/wiki">http://github.com/weibohit/tools/wiki</a> - wiki of EMF Automated Testing Tools</li>
    </ul>
    <p>We also offers training opportunities if you are interested in learning
    more about electromagnetic field knowledge, want to become a more proficient
    at electromagnetic field and EMF Automated Testing Tools, or want to know more
    about how these tools can help your company succeed.</p>
    <ul class="simple">
    <li><a class="reference external" href="http://seie.hit.edu.cn/">http://seie.hit.edu.cn/</a></li>
    </ul>
  </div>
  <div class="section" id="mailing-address">
  <h2>Mailing address</h2>
  <p>Please send any mail correspondence to the EMF Automated Testing Tools:</p>
  <blockquote>
  <div class="line-block">
    <div class="line">EMF Automated Testing Lab</div>
    <div class="line">92 Xidazhi Street</div>
    <div class="line">Harbin, Heilongjiang 150001</div>
    <div class="line">Phone: +86 15244671431</div>
  </div>
  </blockquote>
</div>
</article>
{% endblock %}
