{% extends "layout.html" %}
{% block title %}Demo{% endblock %}

{% block body %}
<article>
  <h3><a href="./real_s21_3d">Realtime -- Start EMF 3D Plot Data</a></h3>
  <h3><a href="./real_s21">Realtime -- Start EMF Chart Plot Data</a></h3>
  <h3><a href="./support_webgl.html">Guide -- Does Your Browser Support WebGL </a></h3>
  <h3><a href="./multiple.html">Realtime -- Start Multi-Points Measurement </a></h3>
  <h3><a href="./pre_start_emf.html">Realtime -- Single Pointer EMF Configure Page</a></h3>
  <h3><a href="./antenna.html">Experimental -- Antenna S Parameter 3D Scatter Plot </a></h3>
  <h3><a href="./microstrip.html">Experimental -- Microstrip Antenna Gain 3D Scatter Plot </a></h3>
  <h3><a href="./microstrip_s11.html">Experimental -- Microstrip Antenna S11 LineChart Plot [WorkAround]</a></h3>
  <h3><a href="./microstrip2_s11.html">Experimental -- Microstrip Antenna S11 LineChart Plot </a></h3>
  <h3><a href="./wifi_s21.html">Experimental -- Wifi Antenna S21 LineChart Plot</a></h3>
  <h3><a href="./wifi_s21_3d.html">Experimental -- Wifi Antenna Gain 3D Scatter Plot </a></h3>
  <h3><a href="./spin-cube.html">Sample -- Spinning Cube </a></h3>
  <h3><a href="./plot-3d.html">Sample -- 3D Plot Data </a></h3>
  <h3><a href="./juliaanim.html">Sample -- Julia Fractal </a></h3>
  <h3><a href="./san_angeles.html">Sample -- San Angeles Observation </a></h3>
  <h3><a href="./nvidia.html">Sample -- NVIDIA Vertex Buffer Object </a></h3>
  <h3><a href="./motor.html">Video -- Motor </a></h3>
</article>
{% endblock %}
