<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
	  <link rel="icon" type="image/png" href="../static/favicon.png">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css', _external=True) }}">
    {% block scripts %}
    {% endblock %}
  </head>

  <body id="index" class="home">
    <header id="banner" class="body">
      <div id="tux-gear"></div>
      <h1><a href="./home.html">EM Automated Test Lab</a></h1>
      <nav>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact_us.html">Contact</a></li>
          <li><a href="./demo.html">Demos</a></li>
          <li><a href="./faq.html">FAQ</a></li>
          <li><a href="./release.html">Releases</a></li>
        </ul>
      </nav>
    </header><!-- /#banner -->

    <aside id="featured" class="body">
      {% block body %}
      {% endblock %}
    </aside>
  </body>
</html>
