<html>
  <head>
    <script>
      function hop_over() {
        window.location.href='/real_s21';
      }
      function activate() {
        var center_freq = parseFloat(document.getElementById("center").value);
        var start_freq = parseFloat(document.getElementById("start").value);
        var stop_freq = parseFloat(document.getElementById("stop").value);
        if (start_freq < center_freq && center_freq < stop_freq &&
            center_freq != NaN && start_freq != NaN && stop_freq != NaN) {
          var new_html = "/start_emf/" + center_freq.toString() + "/" +
              start_freq.toString() + "/" + stop_freq.toString();
          console.log(new_html);
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", new_html, false);
          xmlHttp.send();
          var timeout = 1000; 
          var t=setTimeout("hop_over()", timeout)
        }
        else {
          console.log("Invalid input frequency");
        }
      }
    </script>
  </head>
  <body>
    <input type="text" id="center" value="1.5G">
    <input type="text" id="start" value="1G">
    <input type="text" id="stop" value="2G">
    <button onclick="activate()">Configure</button> 
  </body>
</html>
