<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Configure Page</title>
    <meta charset="utf-8">
	  <link rel="icon" type="image/png" href="../static/favicon.png">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css', _external=True) }}">
    <script>
      function hop_over() {
        window.location.href='/real_s21';
      }
      function activate() {
        var center_freq = parseFloat(document.getElementById("center").value);
        var start_freq = parseFloat(document.getElementById("start").value);
        var stop_freq = parseFloat(document.getElementById("stop").value);
        if (start_freq < center_freq && center_freq < stop_freq &&
            center_freq != NaN && start_freq != NaN && stop_freq != NaN) {
          var new_html = "/start_emf_chart/" + center_freq.toString() + "/" +
              start_freq.toString() + "/" + stop_freq.toString();
          console.log(new_html);
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", new_html, false);
          xmlHttp.send();
          var timeout = 1000;
          var t=setTimeout("hop_over()", timeout)
        }
        else {
          console.log("Invalid input frequency");
        }
      }
      function activate_3d() {
        var center_freq = parseFloat(document.getElementById("center").value);
        var start_freq = parseFloat(document.getElementById("start").value);
        var stop_freq = parseFloat(document.getElementById("stop").value);
        if (start_freq < center_freq && center_freq < stop_freq &&
            center_freq != NaN && start_freq != NaN && stop_freq != NaN) {
          var new_html = "/start_emf/" + center_freq.toString() + "/" +
              start_freq.toString() + "/" + stop_freq.toString();
          console.log(new_html);
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", new_html, false);
          xmlHttp.send();
          window.location.href='/real_s21_3d';
        }
        else {
          console.log("Invalid input frequency");
        }
      }
    </script>
  </head>
  <body id="index" class="home">
    <header id="banner" class="body">
      <div id="tux-gear"></div>
      <h1><a href="./home.html">EM Automated Test Lab</a></h1>
      <nav>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact_us.html">Contact</a></li>
          <li><a href="./demo.html">Demos</a></li>
          <li><a href="./faq.html">FAQ</a></li>
          <li><a href="./release.html">Releases</a></li>
        </ul>
      </nav>
    </header><!-- /#banner -->

    <aside id="featured" class="body">
      <p><B> Button "Plot in Chart" will render your data in 2D mode while
      Button "Plot in 3D" will rendere your data in 3D mode through WebGL </B></p>
      <p> Center Frequency <input type="text" id="center" value="1.5G"> </p>
      <p> Start Frequency <input type="text" id="start" value="1G"> </p>
      <p> Stop Frequency <input type="text" id="stop" value="2G"> </p>
      <p> <button onclick="activate()">Plot in Chart</button>
	    <button onclick="activate_3d()">Plot in 3D</button> </p>
    </aside>
  </body>
</html>
