<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Does your browser support WebGL{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css', _external=True) }}">
    {% block scripts %}
    {% endblock %}
    <style>
      .details {
        width: 90%;
        font: 10pt Arial;
        margin: auto;
        text-align: left;
        padding: 2px;
        border: 1px solid black;
        /* This used to break Opera */
        border-radius: 10px;
      }
      .left {
        width: 30%;
        vertical-align:top;
      }
    </style>
  </head>

  <body id="index" class="home">
    <header id="banner" class="body">
      <div id="tux-gear"></div>
      <h1><a href="./home.html">EM Automated Test Lab</a></h1>
      <nav>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact_us.html">Contact</a></li>
          <li><a href="./demo.html">Demos</a></li>
          <li><a href="./faq.html">FAQ</a></li>
          <li><a href="./release.html">Releases</a></li>
        </ul>
      </nav>
    </header><!-- /#banner -->

    <aside id="featured" class="body">
      {% block body %}
      <article>
        <table class="details" id="tab"></table>
        <br />

        <table class="details" id="shader"></table>
        <br />

        <table class="details" id="bits"></table>
        <br />

        <table class="details" id="tex"></table>
        <br />

        <table class="details" id="misc"></table>
        <br />

        <script type="text/javascript">
          var detailCounter = 0;

          function getParam(str){
            return ctx.getParameter(str);
          }

          function addLine(tableID, name, value){
            if(typeof(value) === "object" && value !== null){

              var temp = '';
              for(var i = 0; i < value.length; i++){
                temp += value[i];
                if(i < value.length-1){
                  temp += ', ';
                }
              }
              value = temp;
            }

            var table = getTag(tableID);
            var tr = document.createElement('tr');
            var tdName = document.createElement('td');
            tdName.setAttribute('class', 'left');
            var tdValue = document.createElement("td");
            // Highlight every other line to make reading a bit easier
            if(detailCounter%2 === 0){
              tr.style.background = '#CCC';
            }
            detailCounter++;
            tdName.innerHTML += name;
            tdValue.innerHTML += value;
            tr.appendChild(tdName);
            tr.appendChild(tdValue);
            table.appendChild(tr);
          }
          function getTag(str){
            return document.getElementById(str);
          }
          function commasToBr(s){
            var str = '';
            for(i in s){
             str += s[i] + '<br />';
            }
            return str;
          }
          var cvs = document.createElement('canvas');
          var contextNames = ['webgl','experimental-webgl','moz-webgl','webkit-3d'];
          var ctx;

          if(navigator.userAgent.indexOf('MSIE') >= 0) {
            try{
              ctx = WebGLHelper.CreateGLContext(cvs, 'canvas');
             }catch(e){}
          }
          else{
            for(var i = 0; i < contextNames.length; i++){
              try{
                ctx = cvs.getContext(contextNames[i]);
                if(ctx){
                  addLine('tab','Context Name', contextNames[i]);
                  break;
                }
              }catch(e){}
            }
          }
          addLine('tab','Platform', navigator.platform);
          addLine('tab','Agent', navigator.userAgent);

          if(ctx){
            addLine('tab','Vendor', getParam(ctx.VENDOR));
            addLine('tab','Version', getParam(ctx.VERSION));
            addLine('tab','Renderer', getParam(ctx.RENDERER));
            addLine('tab','Shading Language Version', getParam(ctx.SHADING_LANGUAGE_VERSION));
            detailCounter = 0;
            addLine('bits', 'RGBA Bits', getParam(ctx.RED_BITS) + ', ' + getParam(ctx.GREEN_BITS) + ', ' + getParam(ctx.BLUE_BITS) + ', ' + getParam(ctx.ALPHA_BITS));
            addLine('bits', 'Depth Bits', getParam(ctx.DEPTH_BITS));
            addLine('shader','Max Vertex Attribs', getParam(ctx.MAX_VERTEX_ATTRIBS));
            addLine('shader','Max Vertex Texture Image Units', getParam(ctx.MAX_VERTEX_TEXTURE_IMAGE_UNITS));
            addLine('shader','Max Varying Vectors', getParam(ctx.MAX_VARYING_VECTORS));
            addLine('shader','Max Uniform Vectors', getParam(ctx.MAX_VERTEX_UNIFORM_VECTORS));
            addLine('tex', 'Max Combined Texture Image Units', getParam(ctx.MAX_COMBINED_TEXTURE_IMAGE_UNITS));
            addLine('tex', 'Max Texture Size', getParam(ctx.MAX_TEXTURE_SIZE));
            addLine('tex', 'Max Cube Map Texture Size', getParam(ctx.MAX_CUBE_MAP_TEXTURE_SIZE));
            addLine('tex', 'Num. Compressed Texture Formats', getParam(ctx.NUM_COMPRESSED_TEXTURE_FORMATS));
            addLine('misc', 'Max Render Buffer Size', getParam(ctx.MAX_RENDERBUFFER_SIZE));
            addLine('misc', 'Max Viewport Dimensions', getParam(ctx.MAX_VIEWPORT_DIMS));
            addLine('misc', 'Aliased Line Width Range', getParam(ctx.ALIASED_LINE_WIDTH_RANGE));
            addLine('misc', 'Aliased Point Size Range', getParam(ctx.ALIASED_POINT_SIZE_RANGE));
            addLine('misc', 'Supported Extensions', ctx.getSupportedExtensions().length === 0 ? 'none' : commasToBr(ctx.getSupportedExtensions()));
          }
          else{
            document.body.removeChild(document.getElementById('bits'));
            document.body.removeChild(document.getElementById('shader'));
            document.body.removeChild(document.getElementById('misc'));
            document.body.removeChild(document.getElementById('tex'));
          }
        </script>
      </article>
      {% endblock %}
    </aside>
  </body>
</html>
